@media screen and (min-width: 700px) {
  header {
    flex-wrap: nowrap;
    padding: 1rem 2rem;
  }

  .site-title {
    font-size: 1.8rem;
    white-space: nowrap;
  }

  #menu {
    display: none;
  }

  nav,
  nav.open {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;
  }

  nav a {
    min-width: 90px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
